{% extends "layout.html" %}

{% block interface %}

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for("index") }}"><img src="/static/images/logo_mini.png"></a>
                </div>

                <!-- Top menu bar! -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                        
                        <li class="">
                            <a href="/applicant/profile"><i class="fa fa-fw fa-desktop"></i> My profile</a>
                        </li>
                        <li>
                            <a href="/applicant/interview"><i class="fa fa-fw fa-calendar"></i> My interview</a>
                        </li>
                        
                </ul>
                <ul class="nav navbar-right top-nav">
                    <li><a href="https://www.facebook.com/CodecoolOfficial/?fref=ts" target="_blank"><img src="/static/images/fb_logo.png" alt="fb_logo"
                                                                                                          width="25" height="25"><span class="sr-only"></span></img></a></li>

                    <li><a href="https://www.linkedin.com/school/6376789?pathWildcard=6376789" target="_blank"><img src="/static/images/linkedin_logo.png" alt="linkedin_logo"
                                                                                                          width="25" height="25"><span class="sr-only"></span></img></a></li>
                </ul>
            </div>

                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li><a href="#">Homepage<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">About the training<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Our principles<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">About us<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Registration<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Contact<span class="sr-only">(current)</span></a></li>
                    </ul>
                </div>
            </nav>   <!-- /.navbar-collapse -->


        <div id="page-wrapper">
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Become a programmer <small>What a beatiful day</small>
                            </h1>
                            <ol class="breadcrumb">
                                <li class="active">
                                    <i class="fa fa-dashboard"></i> Welcome
                                </li>
                            </ol>
                        </div>
                    </div>
                    {% block content %}{% endblock %}   <!-- block content!! -->
                </div>

                {% block profile %} {% endblock %}
                {% block interview %} {% endblock %}
            </div> <!-- page wrapper -->
        </div> <!-- wrapper -->

        


{% endblock %}