{% extends "homepage_interface.html" %}
{% block content %}
<div class="col-lg-6">
    <h1 class="modal-header">Applicant login</h1>
  {% if error %}
  <div class="alert alert-danger">
  <strong>Error: {{ error }}</strong>
  </div>
  {% endif %}
  <form role="form" action="{{ url_for('applicant_login') }}" method=post>
      <div class="form-group">
          <label>E-mail address</label>
          <input class="form-control" placeholder="Example: registered_email@codeorgok.com" type=text name=email><br>
          <label>Password</label>
          <input class="form-control" placeholder="Example: 543893" type=password name=applicant_code><br>
      <input type=submit class="btn btn-lg btn-success" value=Login><br>
      </div>
  </form>
    <a href="{{ url_for('index') }}" methods="GET">
        <button type="submit" class="btn btn-danger">Back to home page</button>
    </a>
</div>
{% endblock %}