{% extends "homepage_interface.html" %}
{% block content %}
<div class="col-lg-6">
<h1 class="modal-header">Applicant registration </h1>
    {% if message %}
    <div class="alert alert-danger">
        <strong>{{ message }}</strong>
    </div>
    {% endif %}
    <form role="form" action="/registration" method="POST">
        <div class="form-group">
        <label for="first_name">First name</label><br>
        <input class="form-control" placeholder="Example: Andrea" type=text size=50 name="first_name" id="first_name" value="{{ first_name }}"><br>
        <label for="last_name">Last name</label><br>
        <input class="form-control" placeholder="Example: Bock" type=text size=50 name="last_name" id="last_name" value="{{ last_name }}"><br>
        <label for="applicant_city">Your city</label><br>
        <input class="form-control" placeholder="Example: Szolnok" type=text size=50 name="applicant_city" id="applicant_city" value="{{ applicant_city }}"><br>
        <label for="email_address">E-mail address</label><br>
        <input class="form-control" placeholder="Example: andrea.bock@codeorgok.com" type=text size=50 name="email_address" id="email_address" value="{{ email_address }}"><br>
        <button class="btn btn-lg btn-success" type="submit" id="submit_registration_button">Register</button>
        </div>
    </form>

<a href="{{url_for('index')}}">
          <button class="btn btn-danger" type="submit">Back</button>
</a>
</div>
{% endblock %}