{% extends "layout.html" %}

<!-- Navigation -->
{% block navbar %}
        <li><a href="{{ url_for('profile') }}"><i class="fa fa-fw fa-table"></i>My profile<span class="sr-only">(current)</span></a></li>
        <li><a href="{{ url_for('interview') }}"><i class="fa fa-fw fa-table"></i>My interview<span class="sr-only">(current)</span></a></li>
        
{% endblock %}



{% block interface %}                       
        <div id="wrapper">
        <div id="page-wrapper">
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">

                                Hello {{ user.first_name }}! <small>What a beatiful day</small>

                            </h1>
                            
                        </div>
                    </div>
                    {% block profile %} {% endblock %}   <!-- block content!! -->
                    {% block interview %} {% endblock %}
                </div>

            </div> <!-- page wrapper -->
        </div> <!-- wrapper -->

        


{% endblock %}