{% extends "homepage_interface.html" %}
{% block content %}
<!-- <div background = '/static/images/yellow.svg'> -->
    <h1 class="modal-header">Miért csináljuk?</h1>

    <div class="col-lg-10">
        <p class="modal-body">A Codecool alapítóinak mindegyike hozott létre vagy vezetett már több sikeres informatikai céget a magyar startup-szcéna kezdetétől a mai napig. Az évek során több ezer programozó munkatárs dolgozott cégeinkben, ezért pontosan látjuk, mire van szükség, és mik a hiányosságok a piacon. Erre válaszul alapítottuk a Codecoolt, ahol pont azt oktatjuk, amire tudjuk, hogy szükség van. Egész egyszerűen a most elérhető legjobb programozóképzést szeretnénk megcsinálni.</p>
    </div>

    <h1 class="modal-header">Mentoraink</h1>
        <div class="first row">
            <div class="col-lg-6" style="float: left">
                <div class="panel panel-green" style="width: 400px;">
                    <div class="panel-heading">
                        <h3 style="text-align: center"> Beöthy Miklós</h3>
                        <h5 style="text-align: center"> Budapest</h5>
                    </div>
                        <div class="panel-body">
                            <p style="text-align: left; display: inline-block"><img src="/static/images/BeothyMiklos-300x300.jpg" width="100" height="100" style="border-radius: 50%; float: left; margin: 10px"> Több mint 15 éve dolgozom szoftverfejlesztőként, és mindig is azokat a részeit szerettem legjobban a napi munkámnak, amikor emberekkel és tudásátadással foglalkozhattam. A világ legszerencsésebbjeként a Codecoolnál ezt jelenleg nap mint nap gyakorolhatom.</p>
                        </div>
                </div>
            </div>

            <div class="col-lg-6" style="float: right">
                <div class="panel panel-green" style="width: 400px;">
                    <div class="panel-heading">
                        <h3 style="text-align: center"> Fodor Immánuel</h3>
                        <h5 style="text-align: center"> Budapest</h5>
                    </div>
                        <div class="panel-body">
                            <p style="text-align: left; display: inline-block"><img src="/static/images/IMMI.jpg" width="100" height="100" style="border-radius: 50%; float: left; margin: 10px"> Mielőtt Codecool mentor lettem, fejlesztési csapatvezető és technikai projektmenedzser voltam az egyik vezető magyar médiaügynökségnél. Az egyetemen szerzett elméleti tudásomat és a versenyszférából hozott gyakorlati tapasztalatomat azonban most a diákok szolgálatába állítom, hogy minél felkészültebb szoftverfejlesztők léphessenek be a munka világába.</p>
                        </div>
                </div>
            </div>
        </div>

        <div class="second row">
            <div class="col-lg-6" style="float: left">
                <div class="panel panel-primary" style="width: 400px;">
                    <div class="panel-heading">
                        <h3 style="text-align: center"> Molnár László</h3>
                        <h5 style="text-align: center"> Budapest</h5>
                    </div>
                        <div class="panel-body">
                            <p style="text-align: left; display: inline-block"><img src="/static/images/Laci.png" width="100" height="100" style="border-radius: 50%; float: left; margin: 10px"> Gyermekkorom óta vonzanak a számítógépek. Szenvedélyem a programozás, és örömet lelek abban is, ha segíthetek másoknak új dolgok elsajátításában. Életem alakulásában nagy szerep jutott a tanároknak. Volt, aki jó és volt aki rossz irányban befolyásolta karrierem. Célom, hogy olyan ember legyek mások életében, aki jó irányt tud mutatni.</p>
                        </div>
                </div>
            </div>

            <div class="col-lg-6" style="float: right">
                <div class="panel panel-primary" style="width: 400px;">
                    <div class="panel-heading">
                        <h3 style="text-align: center"> Tamás Tompa</h3>
                        <h5 style="text-align: center"> Budapest</h5>
                    </div>
                        <div class="panel-body">
                            <p style="text-align: left; display: inline-block"><img src="/static/images/TompaTamas-300x300.png" width="100" height="100" style="border-radius: 50%; float: left; margin: 10px"> Három célom van a Codecoolban: átadni a professzionális programozáshoz szükséges szemléletet, megtanítani a többieket, hogyan kell hatékonyan tanulni, illetve forradalmasítani az alkalmazott oktatási módszereket. Mindezt őszintén, barátságosan és könnyedén.</p>
                        </div>
                </div>
            </div>
        </div>

        <div class="third row">
            <div class="col-lg-6" style="float: left">
                <div class="panel panel-yellow" style="width: 400px;">
                    <div class="panel-heading">
                        <h3 style="text-align: center"> Lindi Imre</h3>
                        <h5 style="text-align: center"> Miskolc</h5>
                    </div>
                        <div class="panel-body">
                            <p style="text-align: left; display: inline-block"><img src="/static/images/LindiImre300x300.jpg" width="100" height="100" style="border-radius: 50%; float: left; margin: 10px"> Codecool diákként úgy éreztem, hogy ezt a képzést rám szabták. Jelenleg pedig mentorként azon dolgozom, hogy ezt minden diák így érezze. Célom, hogy a diákok ne csak egy szimpla "tanfolyamon" vegyenek részt, hanem egy nagy közösséget alakítva, együtt sokkal nagyobb erővel vegyék az akadályokat.</p>
                        </div>
                </div>
            </div>

            <div class="col-lg-6" style="float: right">
                <div class="panel panel-yellow" style="width: 400px;">
                    <div class="panel-heading">
                        <h3 style="text-align: center"> Sallay Zoltán</h3>
                        <h5 style="text-align: center"> Budapest</h5>
                    </div>
                        <div class="panel-body">
                            <p style="text-align: left; display: inline-block"><img src="/static/images/Zozi.jpg" width="100" height="100" style="border-radius: 50%; float: left; margin: 10px"> Három célom van a Codecoolban: átadni a professzionális programozáshoz szükséges szemléletet, megtanítani a többieket, hogyan kell hatékonyan tanulni, illetve forradalmasítani az alkalmazott oktatási módszereket. Mindezt őszintén, barátságosan és könnyedén.</p>
                        </div>
                </div>
            </div>
        </div>



{% endblock %}