{% extends "homepage_interface.html" %}
{% block content %}
<!-- <div background = '/static/images/yellow.svg'> -->
    <div class="yellow_bck" style="background-image: url('/static/images/yellow.svg') ">
        <h1 class="modal-header">Miért csináljuk?</h1>

        <div class="col-lg-10">
            <p class="modal-body">A Codecool alapítóinak mindegyike hozott létre vagy vezetett már több sikeres informatikai céget a magyar startup-szcéna kezdetétől a mai napig. Az évek során több ezer programozó munkatárs dolgozott cégeinkben, ezért pontosan látjuk, mire van szükség, és mik a hiányosságok a piacon. Erre válaszul alapítottuk a Codecoolt, ahol pont azt oktatjuk, amire tudjuk, hogy szükség van. Egész egyszerűen a most elérhető legjobb programozóképzést szeretnénk megcsinálni.</p>
        </div>

        <h1 class="modal-header">Mentorok</h1>
        <div class="col-lg-10">
            <p class="modal-body">Mentoraink fenomenálisak</p>
        </div>

    </div>


{% endblock %}