{% extends "homepage_interface.html" %}
{% block content %}

        <div class="col-lg-6" style="float: left">
            <br><img src="/static/images/miki2.jpg" width="400" height="400">
        </div>

    <div class="col-lg-6" style="float: right">
        <div class="panel panel-primary" style="width: 400px; background-color: lightblue">
            <div class="panel-heading">
                <h1 class="panel-title" style="text-align: center">A képzésről</h1>
            </div>
                <div class="panel-body">
                    <p style="text-align: left"> A programunk 18 hónapos, intenzív nappali képzésre épül.
                        Az egész kicsit olyan, mintha bekerültél volna egy modern vállalat gyakornoki programjába.
                        A csoportokat mentorok vezetik, akik közvetlenül követik az egyes tanulók fejlődését, és folyamatosan a csoport érdeklődéséhez igazítják a tantervet.
                        Mert a programozást ezerféleképpen meg lehet tanulni, de <strong>mi hiszünk benne, hogy akkor a legegyszerűbb, ha érdekel is a példa, amin tanultok</strong>.<br><br>
                        Egy évfolyamra 50-60 főt veszünk fel, két csoportot alakítunk, és váltott hetekben dolgozunk a két
                        csapattal a Codecoolban gyakorlati, illetve otthoni, önálló tanulással. (De persze akik épp az otthoni héten vannak, azok is bármikor bejöhetnek az iskolába találkozni/gyakorolni.)
                        Eleinte a <strong>Python, Java és Javascript</strong> programozási nyelvekkel fogtok megismerkedni, de a legfontosabb,
                        hogy átadjunk egy önálló, problémamegoldásra fókuszáló programozói szemléletmódot – hiszen ez az iparág folyamatosan fejlődik, így fontos,
                        hogy a karriered során később önállóan is tovább tudd majd képezni magad.</p>
                </div>
        </div>
    </div>


    <div class="col-lg-12">
        <br><h1 align="middle">Timeline</h1>
        <br><img src="/static/images/timeline_transparent.png" width="800" height="600" style="border: 2px solid black">
    </div>
{% endblock %}