{% extends "layout.html" %}
{% block interface %}
        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for("index") }}"><img src="/static/images/logo_mini.png"></a>
                </div>

                <!-- Top menu bar! -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                    <ul class="nav navbar-nav">
                            
                            <li>
                                <a href="{{ url_for('show_registration_form') }}"><i class="fa fa-fw fa-desktop"></i> Registration</a>
                            </li>
                            <li>
                                <a href="{{ url_for('applicant_login')}}"><i class="fa fa-fw fa-desktop"></i> Applicant menu</a>
                            </li>
                            <li>
                                <a href="{{ url_for('login') }}"><i class="fa fa-fw fa-wrench"></i> Admin menu</a>
                            </li>
                            <li>
                                <a href="{{ url_for('mentor_login') }}"><i class="fa fa-fw fa-desktop"></i> Mentor menu</a>
                            </li>
                             
                    </ul>
                   
                    <ul class="nav navbar-right top-nav">
                        {% if session %}
                        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Logout</a></li>
                        {% endif %}
                        <li><a href="https://www.facebook.com/CodecoolOfficial/?fref=ts" target="_blank"><img src="/static/images/fb_logo.png" alt="fb_logo"
                                                                                                              width="25" height="25"><span class="sr-only"></span></img></a></li>

                        <li><a href="https://www.linkedin.com/school/6376789?pathWildcard=6376789" target="_blank"><img src="/static/images/linkedin_logo.png" alt="linkedin_logo"
                                                                                                              width="25" height="25"><span class="sr-only"></span></img></a></li>
                    </ul>
                </div>
            </nav>   <!-- /.navbar-collapse -->


        <div id="page-wrapper">
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div style="background-color: ghostwhite">
                        {% block content %}{% endblock %}   <!-- block content!! -->
                        
                    </div>
            </div> <!-- page wrapper -->
        </div> <!-- wrapper -->

{% endblock %}