{% extends "layout.html" %}
{% block content %}
    <h1>Interviews</h1>
    <a class="btn btn-primary" href="{{ url_for('list_interviews') }}">Show Interviews</a>
    <br/>
    <!--form action="/story">
        <input id="add_story" type="submit" value="Add new story" />
    </form-->
    <form action="/filter">
        <p><label for="filter_input_applicant_code">Applicant Code:</label></p>
        <p><input id="filter_input_applicant_code" name="filter_input_applicant_code" type="text" size="50"/></p>

        <p><label for="filter_input_mentor">Mentor:</label></p>
        <p><select class="form-control btn-primary" name="filter_input_mentor" id="filter_input_mentor">
            <option name="all" selected>All</option>
            {% for mentor in mentors %}
                <option name="mentor">{{ mentor.last_name }}</option>
            {% endfor %}
        </select></p>

        <p><label for="filter_input_school">School:</label></p>
        <p><select class="form-control btn-primary" name="filter_input_school" id="filter_input_school">
            <option name="all" selected>All</option>
            {% for school in schools %}
                <option name="city">{{ school.city }}</option>
            {% endfor %}
        </select></p>

        <p><label for="filter_input_date">Interview's Start Time:</label></p>
        <p><select class="form-control btn-primary" name="filter_input_date" id="filter_input_date">
            <option name="all" selected>All</option>
            {% for date in dates %}
                <option name="date">{{ interviews.start_time }}</option>
            {% endfor %}
        </select></p>

        <input class="btn btn-primary" href="{{ url_for('list_interviews') }}" id="filter_button" type="submit"
               value="Filter"/>
    </form>

    <table class="table table-bordered">
        <TR>
            <TD style="width:15px;"><SPAN class="table table-bordered">Applicant_code</SPAN></TD>
            <TD><SPAN class="header">Applicant First Name</SPAN></TD>
            <TD><SPAN class="header">Applicant Last Name</SPAN></TD>
            <TD><SPAN class="header">Interview Start Time</SPAN></TD>
            <TD><SPAN class="header">Interview End Time</SPAN></TD>
            <TD><SPAN class="header">School</SPAN></TD>
            <TD><SPAN class="header">Mentor Last Name</SPAN></TD>
            <TD><SPAN class="header">Status</SPAN></TD>
            <TD><SPAN class="header">Action</SPAN></TD>
        </TR>
        {% for interview in interviews %}
            <TR>
                <TD>{{ interview.applicant_code.applicant_code }}</TD>
                <TD>{{ interview.applicant_code.first_name }}</TD>
                <TD>{{ interview.applicant_code.last_name }}</TD>
                <TD>{{ interview.slot_id.start_time }}</TD>
                <TD>{{ interview.slot_id.end_time }}</TD>
                <TD>{{ interview.applicant_code.applied_school.city }}</TD>
                <TD>{{ interview.slot_id.mentor.last_name }}</TD>
                <TD>{{ interview.applicant_code.status }}</TD>
                <TD>
                    <a class="btn btn-primary btn-sm"
                       href="{{ url_for('list_interviews', applicant_code=interview.applicant_code.applicant_code) }}"><span
                            class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-danger btn-sm"
                       href="{{ url_for('list_interviews', applicant_code=interview.applicant_code.applicant_code) }}"><span
                            class="glyphicon glyphicon-trash"></span>
                    </a>
                </TD>
            </TR>
        {% endfor %}
    </table>

{% endblock %}