<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School System by Codeorgók{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css2/bootstrap.css"/>
    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap/css2/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/bootstrap/css2/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/static/bootstrap/css2/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="icon" type="image/gif" href="/static/images/favicon-16x16.png" />

    <style>
        body {
            background-color: ghostwhite;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for("index") }}"><img src="/static/images/logo_mini.png"></a>
            </div>

            <!-- Top menu bar! -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-right top-nav">
                    <li><a href="https://www.facebook.com/CodecoolOfficial/?fref=ts" target="_blank"><img src="/static/images/fb_logo.png" alt="fb_logo"
                                                                                                          width="25" height="25"><span class="sr-only"></span></img></a></li>
                    <li><a href="https://www.linkedin.com/school/6376789?pathWildcard=6376789" target="_blank"><img src="/static/images/linkedin_logo.png" alt="linkedin_logo"
                                                                                                          width="25" height="25"><span class="sr-only"></span></img></a></li>
                </ul>
            </div>


            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li><a href="{{ url_for("index") }}">Homepage<span class="sr-only">(current)</span></a></li>
                        <li><a href="{{ url_for("about_training") }}">About the training<span class="sr-only">(current)</span></a></li>
                        <li><a href="{{ url_for("principles") }}">Our princilpes<span class="sr-only">(current)</span></a></li>
                        <li><a href="{{ url_for('about_us') }}">About us<span class="sr-only">(current)</span></a></li>
                        <li><a href="{{ url_for('applicant_registration') }}">Registration<span class="sr-only">(current)</span></a></li>
                        {% block navbar %}
                        {% endblock %}
                    </ul>
                </div>
        </nav>   <!-- /.navbar-collapse -->

    {% block interface %} {% endblock %}
    </div>

    </div>
</div>
</body>
</html>

