<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School System by Codeorgók{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css2/bootstrap.css"/>
    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap/css2/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/bootstrap/css2/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/static/bootstrap/css2/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style>
        body {
            background-color: ghostwhite;
        }
    </style>
</head>
<body>
<div class="container">
    {% block interface %} {% endblock %}
</div>
</body>
</html>

