{% extends "layout.html" %}
{% block content %}

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>

    <h1>{{ header }}</h1><br>
    <table class="table table-bordered">
        <tr>
            <th> Start time </th>
            <th> Mentor </th>
            <th> Applicant </th>
            <th> Applicant code </th>
        </tr>
            {% for row in interviews %}
            <tr>
                {% for interview in row  %}
                    <td>{{ interview}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
    </table>

    <a href="{{ url_for('show_mentor_menu') }}">
        <button class="btn btn-primary" type="submit" id="back_to_admin_menu">Back to the Admin menu</button>
    </a><br><br>

{% endblock %}